@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("swiper/css");
@import url("swiper/css/navigation");
@import url("swiper/css/pagination");
@import url("swiper/css/scrollbar");
@import url("swiper/css/autoplay");

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
::-webkit-scrollbar-thumb {
  background: #393812;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #ffffff;
}

@font-face {
  font-family: iransans;
  src: url(fonts/iransans/ttf/IRANSansWeb.ttf);
}
@font-face {
  font-family: iransansnum;
  src: url(fonts/iransans/ttf-num/IRANSansWebFaNum.ttf);
}
@font-face {
  font-family: iransansbold;
  src: url(fonts/iransans/ttf/IRANSansWeb_Bold.ttf);
}
@font-face {
  font-family: iranyekan;
  src: url(fonts/iranyekan/IRANYekanWeb.ttf);
}
@font-face {
  font-family: iranyekan_bold;
  src: url(fonts/iranyekan/IRANYekanWeb-Bold.ttf);
}
@font-face {
  font-family: yekan;
  src: url(fonts/iranyekan/Yekan.ttf);
}

@function size($size) {
  @return map-get($font-sizes, $size);
}
@mixin responsive($brekPoint) {
  @if ($brekPoint==xl) {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if ($brekPoint==lg) {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @if ($brekPoint==md) {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if ($brekPoint==sm) {
    @media (max-width: 450px) {
      @content;
    }
  }
  @if ($brekPoint==xs) {
    @media (max-width: 400px) {
      @content;
    }
  }
}

html {
  font-size: 70.5%;
  @include responsive(lg) {
    font-size: 64%;
  }
  @include responsive(md) {
    font-size: 60%;
  }
  @include responsive(sm) {
    font-size: 58%;
  }
  @include responsive(xs) {
    font-size: 58%;
  }
}

.swiper-button-disabled {
  opacity: 10% !important;
}
.swiper-button-prev,
.swiper-button-next {
  transition: all 300ms ease-in-out !important;
}
